<p id="billing_first_name_field" class="form-row form-row-first validate-required">
    <label for="fullName">Họ và Tên:</label>
    <input type="text" id="fullName" name="fullName" class="form-control" required>
</p>
<p id="billing_email_field" class="form-row form-row-first validate-required validate-email">
    <label for="email">Email:</label>

    <input type="email" id="email" name="email" class="form-control" required>
</p>
<div class="clear"></div>
<p id="billing_phone_field" class="form-row form-row-last validate-required validate-phone">
    <label for="sdt">Số điện thoại:</label>

    <input type="text" id="sdt" name="sdt" class="form-control" required>
</p>
<p id="billing_address_1_field" class="form-row form-row-wide address-field validate-required">
    <label for="address">Địa Chỉ:</label>

    <textarea id="address" name="address" class="form-control" rows="2" required></textarea>
</p>